<!DOCTYPE html>
<html>
    <head>
        <title>Options</title>
        <link rel="stylesheet" type="text/css" href="../css/options.css">
    </head>

    <body>
        Google API Token: <input id="api_token" type="text" class="token_input">
        <br><br>

        Start Address: <input id="address_start" type="text" class="address_input">
        <br>

        End Address: <input id="address_end" type="text" class="address_input">
        <br><br>

        <div id="status"></div>
        <button id="save">Save</button>

        <script src="../js/options.js"></script>
    </body>
</html>