<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../resources/css/popup.css">
    </head>

    <body>
        <div class="traffic_detail">
            <div class="addresses">
                <span id="name_0" class="address">&nbsp;</span>
            </div>

            <div class="duration_details">
                <span id="duration_0">&nbsp;</span>
            </div>
        </div>

        <script src="../resources/js/jquery-3.2.1.min.js"></script>
        <script src="../resources/js/popup.js"></script>
    </body>
</html>